body{
    background-color: #f0fffa;
    background-repeat: round;
    text-align: center;
    font-size: 2em;
}

header{
    background-color: #f0ffff;
    border-radius: 1;   
}

p {
    text-align: left;
    font-size: .5em;
}

div {

}

footer {
    text-align: right;
    font-size: .5em;
}
